<a href="https://colab.research.google.com/github/jeguns/Manipulacion-de-datos-con-R-y-Python/blob/main/Python/9%20-%20Manipulaci%C3%B3n%20de%20datos/U9_Manipulaci%C3%B3n_de_datos_en_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Lectura

In [2]:
import pandas as pd
datos = pd.read_excel('U9 - DATOS1.xlsx')
datos.head(10)

,ID1,HHID,HV000,HV001,HV002,HV002A,HV003,HV004,HV007,HV008,...,HV043,HV044,UBIGEO,HV005,HV022,NCONGLOME,CODCCPP,NOMCCPP,LONGITUDX,LATITUDY
0,2022,101701,PE6,1,17,1,2,1,2022,1467,...,0,1,10101,599332,3,706402,1,CHACHAPOYAS,-77.87403,-6.221249
1,2022,102201,PE6,1,22,1,2,1,2022,1467,...,0,1,10101,96698,3,706402,1,CHACHAPOYAS,-77.87403,-6.221249
2,2022,105201,PE6,1,52,1,3,1,2022,1467,...,0,1,10101,96698,3,706402,1,CHACHAPOYAS,-77.87403,-6.221249
3,2022,105301,PE6,1,53,1,1,1,2022,1467,...,0,1,10101,96698,3,706402,1,CHACHAPOYAS,-77.87403,-6.221249
4,2022,105501,PE6,1,55,1,1,1,2022,1467,...,0,1,10101,599332,3,706402,1,CHACHAPOYAS,-77.87403,-6.221249
5,2022,108301,PE6,1,83,1,2,1,2022,1467,...,0,1,10101,599332,3,706402,1,CHACHAPOYAS,-77.87403,-6.221249
6,2022,108501,PE6,1,85,1,2,1,2022,1467,...,0,1,10101,96698,3,706402,1,CHACHAPOYAS,-77.87403,-6.221249
7,2022,109501,PE6,1,95,1,0,1,2022,1467,...,0,1,10101,0,3,706402,1,CHACHAPOYAS,-77.87403,-6.221249
8,2022,110301,PE6,1,103,1,2,1,2022,1467,...,0,1,10101,96698,3,706402,1,CHACHAPOYAS,-77.87403,-6.221249
9,2022,110701,PE6,1,107,1,2,1,2022,1467,...,0,1,10101,96698,3,706402,1,CHACHAPOYAS,-77.87403,-6.221249

## Selección de variables

In [5]:
datos01 = datos[['HV009', 'HV010', 'HV014', 'HV015', 'HV024', 'HV025', 'HV035', 'HV042', 'NOMCCPP', 'LONGITUDX', 'LATITUDY']]

In [6]:
datos02 = datos.iloc[:, [10, 11, 15, 16, 21, 22, 30, 33] + list(range(41, 44))]

In [7]:
datos01.equals(datos02)

True

In [8]:
datos03 = datos.drop(columns=['ID1', 'HHID', 'HV000'])

In [9]:
datos04 = datos.iloc[:, 3:]

In [12]:
datos03.equals(datos04)

True

In [13]:
datos05 = datos[['HV014']]

In [14]:
datos06 = datos['HV014']

In [17]:
datos05.equals(datos06)

False

## Renombrar variables

In [18]:
datos01.columns

Index(['HV009', 'HV010', 'HV014', 'HV015', 'HV024', 'HV025', 'HV035', 'HV042',
       'NOMCCPP', 'LONGITUDX', 'LATITUDY'],
      dtype='object')

In [34]:
datos07 = datos01.copy()
datos07.columns = ['TOTAL_HOGAR', 'TOTAL_MUJERES', 'TOTAL_NINOS', 'ENTREVISTA',
                   'DEPARTAMENTO', 'AREA', 'NINOS_ELEG', 'HEMOG_ELEG', 'NOMCCPP',
                   'LONGITUDX', 'LATITUDY']

Index(['HV009', 'HV010', 'HV014', 'HV015', 'HV024', 'HV025', 'HV035', 'HV042',
       'NOMCCPP', 'LONGITUDX', 'LATITUDY'],
      dtype='object')
Index(['TOTAL_HOGAR', 'TOTAL_MUJERES', 'TOTAL_NINOS', 'ENTREVISTA',
       'DEPARTAMENTO', 'AREA', 'NINOS_ELEG', 'HEMOG_ELEG', 'NOMCCPP',
       'LONGITUDX', 'LATITUDY'],
      dtype='object')

In [30]:
datos08 = datos01.rename(columns={'HV009': 'TOTAL_HOGAR',
                                  'HV010': 'TOTAL_MUJERES',
                                  'HV014': 'TOTAL_NINOS',
                                  'HV015': 'ENTREVISTA',
                                  'HV024': 'DEPARTAMENTO',
                                  'HV025': 'AREA',
                                  'HV035': 'NINOS_ELEG',
                                  'HV042': 'HEMOG_ELEG'})

In [31]:
datos07.equals(datos08)

True

## Creación de variables

In [36]:
datos09 = datos07.copy()
datos09['TOTAL_MUJ_NIN'] = datos09['TOTAL_MUJERES'] + datos09['TOTAL_NINOS']
datos09['TOTAL_OTROS']   = datos09['TOTAL_HOGAR'] - datos09['TOTAL_MUJ_NIN']

In [40]:
import numpy as np
datos10 = datos07.copy()
datos10['LIMA'] = np.where(datos10['DEPARTAMENTO'] == "LIMA", "SI", "NO")

In [41]:
datos11 = datos07.copy()
datos11['LIMA_CALLAO'] = np.where(datos11['DEPARTAMENTO'].isin(["LIMA", "CALLAO"]), "SI", "NO")

In [43]:
datos12 = datos07.copy()
datos12['TOTAL_MUJ_NIN'] = datos12['TOTAL_MUJERES'] + datos12['TOTAL_NINOS']
datos12['TOTAL_OTROS']   = datos12['TOTAL_HOGAR'] - datos12['TOTAL_MUJ_NIN']
datos12['LIMA']          = np.where(datos12['DEPARTAMENTO'] == "LIMA", "SI", "NO")
datos12['LIMA_CALLAO']   = np.where(datos12['DEPARTAMENTO'].isin(["LIMA", "CALLAO"]), "SI", "NO")

## Modificación de variables

In [54]:
datos12['AREA'].dtype

dtype('int64')

In [55]:
datos12['AREA'] = np.where(datos12['AREA'] == 1, "URBANO", "RURAL")

In [56]:
datos12['AREA'].dtype

dtype('O')

## Filtros

In [61]:
datos13 = datos12[datos12['AREA'] == "URBANO"]
datos13.head()

,TOTAL_HOGAR,TOTAL_MUJERES,TOTAL_NINOS,ENTREVISTA,DEPARTAMENTO,AREA,NINOS_ELEG,HEMOG_ELEG,NOMCCPP,LONGITUDX,LATITUDY,TOTAL_MUJ_NIN,TOTAL_OTROS,LIMA,LIMA_CALLAO
0,4,0,0,1,1,URBANO,0,1,CHACHAPOYAS,-77.87403,-6.221249,0,4,NO,NO
1,3,1,1,1,1,URBANO,1,1,CHACHAPOYAS,-77.87403,-6.221249,2,1,NO,NO
2,5,3,1,1,1,URBANO,1,1,CHACHAPOYAS,-77.87403,-6.221249,4,1,NO,NO
3,4,2,1,1,1,URBANO,1,1,CHACHAPOYAS,-77.87403,-6.221249,3,1,NO,NO
4,2,0,0,1,1,URBANO,0,1,CHACHAPOYAS,-77.87403,-6.221249,0,2,NO,NO

In [71]:
datos14 = datos12[(datos12['AREA'] == "URBANO") & (datos12['DEPARTAMENTO'] == 4)]
datos14

,TOTAL_HOGAR,TOTAL_MUJERES,TOTAL_NINOS,ENTREVISTA,DEPARTAMENTO,AREA,NINOS_ELEG,HEMOG_ELEG,NOMCCPP,LONGITUDX,LATITUDY,TOTAL_MUJ_NIN,TOTAL_OTROS,LIMA,LIMA_CALLAO
1400,8,3,1,1,4,URBANO,0,1,LA LIBERTAD,-71.568292,-16.402229,4,4,NO,NO
1401,3,1,0,1,4,URBANO,0,1,LA LIBERTAD,-71.568292,-16.402229,1,2,NO,NO
1402,0,0,0,3,4,URBANO,0,1,LA LIBERTAD,-71.568292,-16.402229,0,0,NO,NO
1403,2,1,0,1,4,URBANO,0,1,LA LIBERTAD,-71.568292,-16.402229,1,1,NO,NO
1404,5,1,1,1,4,URBANO,1,1,LA LIBERTAD,-71.568292,-16.402229,2,3,NO,NO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31940,6,1,2,1,4,URBANO,2,1,QUEBRADA HONDA,-71.480779,-16.534389,3,3,NO,NO
31941,4,1,1,1,4,URBANO,1,1,QUEBRADA HONDA,-71.480779,-16.534389,2,2,NO,NO
31942,6,1,2,1,4,URBANO,2,1,QUEBRADA HONDA,-71.480779,-16.534389,3,3,NO,NO
31943,3,1,1,1,4,URBANO,1,1,QUEBRADA HONDA,-71.480779,-16.534389,2,1,NO,NO
31944,4,1,0,1,4,URBANO,0,1,QUEBRADA HONDA,-71.480779,-16.534389,1,3,NO,NO

In [70]:
datos15 = datos12[(datos12['AREA'] == "URBANO") | (datos12['DEPARTAMENTO'] == 4)]
datos15

,TOTAL_HOGAR,TOTAL_MUJERES,TOTAL_NINOS,ENTREVISTA,DEPARTAMENTO,AREA,NINOS_ELEG,HEMOG_ELEG,NOMCCPP,LONGITUDX,LATITUDY,TOTAL_MUJ_NIN,TOTAL_OTROS,LIMA,LIMA_CALLAO
0,4,0,0,1,1,URBANO,0,1,CHACHAPOYAS,-77.874030,-6.221249,0,4,NO,NO
1,3,1,1,1,1,URBANO,1,1,CHACHAPOYAS,-77.874030,-6.221249,2,1,NO,NO
2,5,3,1,1,1,URBANO,1,1,CHACHAPOYAS,-77.874030,-6.221249,4,1,NO,NO
3,4,2,1,1,1,URBANO,1,1,CHACHAPOYAS,-77.874030,-6.221249,3,1,NO,NO
4,2,0,0,1,1,URBANO,0,1,CHACHAPOYAS,-77.874030,-6.221249,0,2,NO,NO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37345,0,0,0,5,15,URBANO,0,1,SAN MIGUEL,-77.079472,-12.090833,0,0,NO,NO
37346,0,0,0,5,15,URBANO,0,1,SAN MIGUEL,-77.079472,-12.090833,0,0,NO,NO
37347,3,1,1,1,15,URBANO,1,1,SAN MIGUEL,-77.079472,-12.090833,2,1,NO,NO
37348,0,0,0,5,15,URBANO,0,1,SAN MIGUEL,-77.079472,-12.090833,0,0,NO,NO
37349,0,0,0,5,15,URBANO,0,1,SAN MIGUEL,-77.079472,-12.090833,0,0,NO,NO

In [69]:
datos16 = datos12[(datos12['AREA'] == "URBANO") & (datos12['DEPARTAMENTO'].isin([16, 17, 25]))]
datos16

,TOTAL_HOGAR,TOTAL_MUJERES,TOTAL_NINOS,ENTREVISTA,DEPARTAMENTO,AREA,NINOS_ELEG,HEMOG_ELEG,NOMCCPP,LONGITUDX,LATITUDY,TOTAL_MUJ_NIN,TOTAL_OTROS,LIMA,LIMA_CALLAO
8057,5,1,1,1,16,URBANO,1,1,PUNCHANA,-73.248018,-3.728792,2,3,NO,NO
8058,5,1,1,1,16,URBANO,1,1,PUNCHANA,-73.248018,-3.728792,2,3,NO,NO
8059,3,1,0,1,16,URBANO,0,1,PUNCHANA,-73.248018,-3.728792,1,2,NO,NO
8060,3,0,0,1,16,URBANO,0,1,PUNCHANA,-73.248018,-3.728792,0,3,NO,NO
8061,4,2,1,1,16,URBANO,0,1,PUNCHANA,-73.248018,-3.728792,3,1,NO,NO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37260,3,1,1,1,25,URBANO,1,1,BOQUERON,-75.634800,-9.057544,2,1,NO,NO
37261,4,1,0,1,25,URBANO,0,1,BOQUERON,-75.634800,-9.057544,1,3,NO,NO
37262,4,1,1,1,25,URBANO,0,1,BOQUERON,-75.634800,-9.057544,2,2,NO,NO
37263,6,1,2,1,25,URBANO,2,1,BOQUERON,-75.634800,-9.057544,3,3,NO,NO
37264,6,2,1,1,25,URBANO,1,1,BOQUERON,-75.634800,-9.057544,3,3,NO,NO

In [68]:
datos17 = datos12[datos12['DEPARTAMENTO'] != 12]
datos17

,TOTAL_HOGAR,TOTAL_MUJERES,TOTAL_NINOS,ENTREVISTA,DEPARTAMENTO,AREA,NINOS_ELEG,HEMOG_ELEG,NOMCCPP,LONGITUDX,LATITUDY,TOTAL_MUJ_NIN,TOTAL_OTROS,LIMA,LIMA_CALLAO
0,4,0,0,1,1,URBANO,0,1,CHACHAPOYAS,-77.874030,-6.221249,0,4,NO,NO
1,3,1,1,1,1,URBANO,1,1,CHACHAPOYAS,-77.874030,-6.221249,2,1,NO,NO
2,5,3,1,1,1,URBANO,1,1,CHACHAPOYAS,-77.874030,-6.221249,4,1,NO,NO
3,4,2,1,1,1,URBANO,1,1,CHACHAPOYAS,-77.874030,-6.221249,3,1,NO,NO
4,2,0,0,1,1,URBANO,0,1,CHACHAPOYAS,-77.874030,-6.221249,0,2,NO,NO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37345,0,0,0,5,15,URBANO,0,1,SAN MIGUEL,-77.079472,-12.090833,0,0,NO,NO
37346,0,0,0,5,15,URBANO,0,1,SAN MIGUEL,-77.079472,-12.090833,0,0,NO,NO
37347,3,1,1,1,15,URBANO,1,1,SAN MIGUEL,-77.079472,-12.090833,2,1,NO,NO
37348,0,0,0,5,15,URBANO,0,1,SAN MIGUEL,-77.079472,-12.090833,0,0,NO,NO
37349,0,0,0,5,15,URBANO,0,1,SAN MIGUEL,-77.079472,-12.090833,0,0,NO,NO

In [73]:
datos18 = datos12[~(datos12['DEPARTAMENTO'] == 12)]
datos18.equals(datos17)

True