<a href="https://colab.research.google.com/github/jeguns/Manipulacion-de-datos-con-R-y-Python/blob/main/Python/9%20-%20Manipulaci%C3%B3n%20de%20datos/U9_Manipulaci%C3%B3n_de_datos_en_Python_P1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Lectura

El archivo U9 - DATOS1.xlsx corresponde a la [ENDES 2022](https://www.datosabiertos.gob.pe/dataset/encuesta-demogr%C3%A1fica-y-de-salud-familiar-endes-2022-instituto-nacional-de-estad%C3%ADstica-e).

In [ ]:
import pandas as pd
datos = pd.read_excel('U9 - DATOS1.xlsx')
datos.head(10)

## Selección de variables

In [ ]:
datos01 = datos[['HV009', 'HV010', 'HV014', 'HV015', 'HV024', 'HV025', 'HV035', 'HV042', 'NOMCCPP', 'LONGITUDX', 'LATITUDY']]

In [ ]:
datos02 = datos.loc[:, ['HV009', 'HV010', 'HV014', 'HV015', 'HV024', 'HV025', 'HV035', 'HV042', 'NOMCCPP', 'LONGITUDX', 'LATITUDY']]

In [ ]:
datos03 = datos.iloc[:, [10, 11, 15, 16, 21, 22, 30, 33] + list(range(41, 44))]

In [ ]:
datos01.equals(datos02)

In [ ]:
datos02.equals(datos03)

In [ ]:
datos04 = datos.drop(columns=['ID1', 'HHID', 'HV000'])

In [ ]:
datos05 = datos.iloc[:, 3:]

In [ ]:
datos04.equals(datos05)

In [ ]:
datos06 = datos[['HV014']]

In [ ]:
datos07 = datos['HV014']

In [ ]:
datos06.equals(datos07)

In [ ]:
type(datos06)

In [ ]:
type(datos07)

## Renombrar variables

In [ ]:
datos01.columns

In [ ]:
datos08 = datos01.copy()
datos08.columns = ['TOTAL_HOGAR', 'TOTAL_MUJERES', 'TOTAL_NINOS', 'ENTREVISTA',
                   'DEPARTAMENTO', 'AREA', 'NINOS_ELEG', 'HEMOG_ELEG', 'NOMCCPP',
                   'LONGITUDX', 'LATITUDY']

In [ ]:
datos09 = datos01.rename(columns={'HV009': 'TOTAL_HOGAR',
                                  'HV010': 'TOTAL_MUJERES',
                                  'HV014': 'TOTAL_NINOS',
                                  'HV015': 'ENTREVISTA',
                                  'HV024': 'DEPARTAMENTO',
                                  'HV025': 'AREA',
                                  'HV035': 'NINOS_ELEG',
                                  'HV042': 'HEMOG_ELEG'})

In [ ]:
datos08.equals(datos09)

## Creación de variables

In [ ]:
datos10 = datos08.copy()
datos10['TOTAL_MUJ_NIN'] = datos10['TOTAL_MUJERES'] + datos10['TOTAL_NINOS']
datos10['TOTAL_OTROS']   = datos10['TOTAL_HOGAR'] - datos10['TOTAL_MUJ_NIN']

In [ ]:
datos11 = datos08.copy().assign(
    TOTAL_MUJ_NIN = lambda x: x['TOTAL_MUJERES'] + x['TOTAL_NINOS'],
    TOTAL_OTROS   = lambda x: x['TOTAL_HOGAR'] - x['TOTAL_MUJ_NIN'])

In [ ]:
datos10.equals(datos11)

In [ ]:
import numpy as np
datos11 = datos08.copy()
datos11['LIMA'] = np.where(datos11['DEPARTAMENTO'] == "LIMA", "SI", "NO")

In [ ]:
datos12 = datos08.copy().assign(
    LIMA = lambda x: x['DEPARTAMENTO'].apply(lambda y: "SI" if y == "LIMA" else "NO"))

In [ ]:
datos11.equals(datos12)

In [ ]:
datos13 = datos08.copy()
datos13['LIMA_CALLAO'] = np.where(datos13['DEPARTAMENTO'].isin(["LIMA", "CALLAO"]), "SI", "NO")

In [ ]:
datos14 = datos08.copy().assign(
    LIMA_CALLAO = lambda x: x['DEPARTAMENTO'].apply(lambda y: "SI" if y in ["LIMA", "CALLAO"] else "NO"))

In [ ]:
datos13.equals(datos14)

In [ ]:
datos15 = datos08.copy()
datos15['TOTAL_MUJ_NIN'] = datos15['TOTAL_MUJERES'] + datos15['TOTAL_NINOS']
datos15['TOTAL_OTROS']   = datos15['TOTAL_HOGAR'] - datos15['TOTAL_MUJ_NIN']
datos15['LIMA']          = np.where(datos15['DEPARTAMENTO'] == "LIMA", "SI", "NO")
datos15['LIMA_CALLAO']   = np.where(datos15['DEPARTAMENTO'].isin(["LIMA", "CALLAO"]), "SI", "NO")

In [ ]:
datos16 = datos08.copy().assign(
    TOTAL_MUJ_NIN = lambda x: x['TOTAL_MUJERES'] + x['TOTAL_NINOS'],
    TOTAL_OTROS   = lambda x: x['TOTAL_HOGAR'] - x['TOTAL_MUJ_NIN'],
    LIMA          = lambda x: x['DEPARTAMENTO'].apply(lambda y: "SI" if y == "LIMA" else "NO"),
    LIMA_CALLAO   = lambda x: x['DEPARTAMENTO'].apply(lambda y: "SI" if y in ["LIMA", "CALLAO"] else "NO"))

In [ ]:
datos15.equals(datos16)

## Modificación de variables

In [ ]:
datos16['AREA'].dtype

In [ ]:
datos17 = datos16.copy()
datos17['AREA'] = np.where(datos17['AREA'] == 1, "URBANO", "RURAL")

In [ ]:
datos18 = datos16.copy().assign(
    AREA = lambda x: x['AREA'].apply(lambda y: "URBANO" if y == 1 else "RURAL"))

In [ ]:
datos17['AREA'].dtype

In [ ]:
datos18['AREA'].dtype

## Filtros

In [ ]:
datos19 = datos18[datos18['AREA'] == "URBANO"]
datos19.head()

In [ ]:
datos20 = datos18.copy().query('AREA == "URBANO"')
datos20.head()

In [ ]:
datos19.equals(datos20)

In [ ]:
datos21 = datos18[(datos18['AREA'] == "URBANO") & (datos12['DEPARTAMENTO'] == 4)]
datos21.head()

In [ ]:
datos22 = datos18.copy().query('AREA == "URBANO" and DEPARTAMENTO == 4')
datos22.head()

In [ ]:
datos22.equals(datos21)

In [ ]:
datos23 = datos18[(datos18['AREA'] == "URBANO") | (datos18['DEPARTAMENTO'] == 4)]
datos23.head()

In [ ]:
datos24 = datos18.copy().query('AREA == "URBANO" or DEPARTAMENTO == 4')
datos24.head()

In [ ]:
datos23.equals(datos24)

In [ ]:
datos25 = datos18[(datos18['AREA'] == "URBANO") & (datos18['DEPARTAMENTO'].isin([16, 17, 25]))]
datos25.head()

In [ ]:
datos26 = datos18.copy().query('AREA == "URBANO" and DEPARTAMENTO in [16, 17, 25]')
datos26.head()

In [ ]:
datos25.equals(datos26)

In [ ]:
datos27 = datos18[datos18['DEPARTAMENTO'] != 12]
datos27.head()

In [ ]:
datos28 = datos18.copy().query('DEPARTAMENTO != 12')
datos28.head()

In [ ]:
datos29 = datos18[~(datos18['DEPARTAMENTO'] == 12)]
datos29.head()

In [ ]:
datos27.equals(datos29)